<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/meta') %>

<body>
    <%-include('../partials/header') %>
    <section>
        <div class="card-group">
            <div class="row">
                <% JSONBody.forEach(productos => { %>
                
                <div class=" col-md-4 col-sm-12 col-xl-3
                ">
            <img src="<%= productos.img %>"  class="card-img-top" alt="Borcegos">
              
              <div class="card-body">
                <h4 class="card-title"><%= productos.name %></h4>
                <h5 class="card-text"><%= productos.price %></h5>
              </div>
            </div>
            
            
            <% }) %>
        </div>
</div>
</section>
    <%-include('../partials/footer') %>
    
</body>
</html>